@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align:center">Hogwarts University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to University</h2>
        <p>
            This is a sample application that
            demonstrates my knowledge about Entity Framework 6 in an
            ASP.NET MVC 5 web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Welcome do my LinkedIn</h2>
        <p>Here you can find my LinkedIn page and know a little bit more about my professional experience.</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/danielagustoalves/">See the profile &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My Academic Experience</h2>
        <p>Here you can find my Course page and know a little bit more about my Academic experience.</p>
        <p><a class="btn btn-default" href="https://www.dee.fct.unl.pt/">DEE FCT &raquo;</a></p>
    </div>
</div>